#enter {
    text-decoration: none;
    color: black;
    font-size: 100px;
    animation: ani5 3s ease-out 1s forwards;
    opacity: 0;
    padding: 20 px;
  }

  @media (max-width: 600px) {
    #enter {
      font-size: 80px;
    }
  }

.wrapper-text { 
      text-align: center;
      letter-spacing: 5px;
  }


h2 {
  animation: ani5 3s ease-out 1.5s forwards;
  opacity: 0;
}

#enterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    position: relative;
    height: 100vh;
    overflow: hidden;
}